<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6000</key>
	<string>Wirtschaft</string>
	<key>6001</key>
	<string>Wetter</string>
	<key>6002</key>
	<string>Dienstprogramme</string>
	<key>6003</key>
	<string>Reisen</string>
	<key>6004</key>
	<string>Sport</string>
	<key>6005</key>
	<string>Soziale Netze</string>
	<key>6006</key>
	<string>Referenz</string>
	<key>6007</key>
	<string>Produktivität</string>
	<key>6008</key>
	<string>Fotografie</string>
	<key>6009</key>
	<string>Nachrichten</string>
	<key>6010</key>
	<string>Navigation</string>
	<key>6011</key>
	<string>Musik</string>
	<key>6012</key>
	<string>Lifestyle</string>
	<key>6013</key>
	<string>Gesundheit und Fitness</string>
	<key>6014</key>
	<string>Spiele</string>
	<key>6015</key>
	<string>Finanzen</string>
	<key>6016</key>
	<string>Unterhaltung</string>
	<key>6017</key>
	<string>Bildung</string>
	<key>6018</key>
	<string>Bücher</string>
	<key>6019</key>
	<string>?</string>
	<key>6020</key>
	<string>Medizin</string>
	<key>7001</key>
	<string>Action</string>
	<key>7002</key>
	<string>Abenteuer</string>
	<key>7003</key>
	<string>Spielhalle</string>
	<key>7004</key>
	<string>Brettspiele</string>
	<key>7005</key>
	<string>Karten</string>
	<key>7006</key>
	<string>Casino</string>
	<key>7007</key>
	<string>Würfel</string>
	<key>7008</key>
	<string>Bildung</string>
	<key>7009</key>
	<string>Familie</string>
	<key>7010</key>
	<string>Kinder</string>
	<key>7011</key>
	<string>Musik</string>
	<key>7012</key>
	<string>Puzzle</string>
	<key>7013</key>
	<string>Rennsport</string>
	<key>7014</key>
	<string>Rollenspiel</string>
	<key>7015</key>
	<string>Simulation</string>
	<key>7016</key>
	<string>Sport</string>
	<key>7017</key>
	<string>Strategie</string>
	<key>7018</key>
	<string>Kleinigkeiten</string>
	<key>7019</key>
	<string>Ausdruck</string>
</dict>
</plist>
