<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<array>
			<dict>
				<key>displayName</key>
				<string>Phone</string>
				<key>iconModDate</key>
				<date>1979-11-20T07:59:22Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.mobilephone</string>
				<key>displayIdentifier</key>
				<string>com.apple.mobilephone</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Mail</string>
				<key>iconModDate</key>
				<date>1979-11-20T07:58:20Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.mobilemail</string>
				<key>displayIdentifier</key>
				<string>com.apple.mobilemail</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Safari</string>
				<key>iconModDate</key>
				<date>1979-11-20T07:59:46Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.mobilesafari</string>
				<key>displayIdentifier</key>
				<string>com.apple.mobilesafari</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>iPod</string>
				<key>iconModDate</key>
				<date>1979-11-20T07:58:45Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.mobileipod</string>
				<key>displayIdentifier</key>
				<string>com.apple.mobileipod-MediaPlayer</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>displayName</key>
				<string>Messages</string>
				<key>iconModDate</key>
				<date>1979-11-20T07:53:21Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.MobileSMS</string>
				<key>displayIdentifier</key>
				<string>com.apple.MobileSMS</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Calendar</string>
				<key>iconModDate</key>
				<date>1979-11-20T07:57:53Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.mobilecal</string>
				<key>displayIdentifier</key>
				<string>com.apple.mobilecal</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Photos</string>
				<key>iconModDate</key>
				<date>1979-11-20T08:00:13Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.mobileslideshow</string>
				<key>displayIdentifier</key>
				<string>com.apple.mobileslideshow</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Camera</string>
				<key>iconModDate</key>
				<date>1979-11-20T08:00:13Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.camera</string>
				<key>displayIdentifier</key>
				<string>com.apple.camera</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>YouTube</string>
				<key>iconModDate</key>
				<date>1979-11-20T08:05:52Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.youtube</string>
				<key>displayIdentifier</key>
				<string>com.apple.youtube</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Stocks</string>
				<key>iconModDate</key>
				<date>1979-11-20T08:03:45Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.stocks</string>
				<key>displayIdentifier</key>
				<string>com.apple.stocks</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Maps</string>
				<key>iconModDate</key>
				<date>1979-11-20T07:57:08Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.Maps</string>
				<key>displayIdentifier</key>
				<string>com.apple.Maps</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Weather</string>
				<key>iconModDate</key>
				<date>1979-11-20T08:05:17Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.weather</string>
				<key>displayIdentifier</key>
				<string>com.apple.weather</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Notes</string>
				<key>iconModDate</key>
				<date>1979-11-20T07:58:55Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.mobilenotes</string>
				<key>displayIdentifier</key>
				<string>com.apple.mobilenotes</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Utilities</string>
				<key>iconLists</key>
				<array>
					<array>
						<dict>
							<key>displayName</key>
							<string>Clock</string>
							<key>iconModDate</key>
							<date>1979-11-20T08:00:34Z</date>
							<key>bundleIdentifier</key>
							<string>com.apple.mobiletimer</string>
							<key>displayIdentifier</key>
							<string>com.apple.mobiletimer</string>
						</dict>
						<dict>
							<key>displayName</key>
							<string>Calculator</string>
							<key>iconModDate</key>
							<date>1979-11-20T07:51:58Z</date>
							<key>bundleIdentifier</key>
							<string>com.apple.calculator</string>
							<key>displayIdentifier</key>
							<string>com.apple.calculator</string>
						</dict>
						<dict>
							<key>displayName</key>
							<string>Compass</string>
							<key>iconModDate</key>
							<date>1979-11-20T07:53:31Z</date>
							<key>bundleIdentifier</key>
							<string>com.apple.compass</string>
							<key>displayIdentifier</key>
							<string>com.apple.compass</string>
						</dict>
						<dict>
							<key>displayName</key>
							<string>Voice Memos</string>
							<key>iconModDate</key>
							<date>1979-11-20T08:04:47Z</date>
							<key>bundleIdentifier</key>
							<string>com.apple.VoiceMemos</string>
							<key>displayIdentifier</key>
							<string>com.apple.VoiceMemos</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>displayName</key>
				<string>iTunes</string>
				<key>iconModDate</key>
				<date>1979-11-20T08:00:31Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.MobileStore</string>
				<key>displayIdentifier</key>
				<string>com.apple.MobileStore</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>App Store</string>
				<key>iconModDate</key>
				<date>1979-11-20T08:00:31Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.AppStore</string>
				<key>displayIdentifier</key>
				<string>com.apple.AppStore</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Game Center</string>
				<key>iconModDate</key>
				<date>1979-11-20T07:56:16Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.gamecenter</string>
				<key>displayIdentifier</key>
				<string>com.apple.gamecenter</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Settings</string>
				<key>iconModDate</key>
				<date>1979-11-20T08:02:44Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.Preferences</string>
				<key>displayIdentifier</key>
				<string>com.apple.Preferences</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>displayName</key>
				<string>100 Pushups</string>
				<key>iconModDate</key>
				<date>1980-03-28T20:10:34Z</date>
				<key>bundleIdentifier</key>
				<string>nz.co.softwarex.hundredpushups</string>
				<key>displayIdentifier</key>
				<string>nz.co.softwarex.hundredpushups</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>200 Situps</string>
				<key>iconModDate</key>
				<date>1980-03-28T20:11:14Z</date>
				<key>bundleIdentifier</key>
				<string>nz.co.softwarex.twohundredsitups</string>
				<key>displayIdentifier</key>
				<string>nz.co.softwarex.twohundredsitups</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Akinator</string>
				<key>iconModDate</key>
				<date>1980-02-10T20:12:10Z</date>
				<key>bundleIdentifier</key>
				<string>com.scimob.Akinator</string>
				<key>displayIdentifier</key>
				<string>com.scimob.Akinator</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Amazon.de</string>
				<key>iconModDate</key>
				<date>1980-03-10T09:16:49Z</date>
				<key>bundleIdentifier</key>
				<string>com.amazon.AmazonDE</string>
				<key>displayIdentifier</key>
				<string>com.amazon.AmazonDE</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Arztsuche</string>
				<key>iconModDate</key>
				<date>1980-03-21T17:50:31Z</date>
				<key>bundleIdentifier</key>
				<string>de.kbv.BundesArztsuche</string>
				<key>displayIdentifier</key>
				<string>de.kbv.BundesArztsuche</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>barcoo</string>
				<key>iconModDate</key>
				<date>1980-03-15T11:22:18Z</date>
				<key>bundleIdentifier</key>
				<string>de.barcoo.iphone</string>
				<key>displayIdentifier</key>
				<string>de.barcoo.iphone</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>BitBucket</string>
				<key>webClipURL</key>
				<string>/</string>
				<key>iconModDate</key>
				<date>1980-03-18T14:40:08Z</date>
				<key>displayIdentifier</key>
				<string>7687204625474EA39368D6184E14ACEE</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Cydia</string>
				<key>iconModDate</key>
				<date>1980-03-25T20:29:19Z</date>
				<key>bundleIdentifier</key>
				<string>com.saurik.Cydia</string>
				<key>displayIdentifier</key>
				<string>com.saurik.Cydia</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Blitzer.de</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:56:47Z</date>
				<key>bundleIdentifier</key>
				<string>com.eifrig.blitzerde</string>
				<key>displayIdentifier</key>
				<string>com.eifrig.blitzerde</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Contacts</string>
				<key>iconModDate</key>
				<date>1979-11-20T07:50:42Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.MobileAddressBook</string>
				<key>displayIdentifier</key>
				<string>com.apple.MobileAddressBook</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Cut the Rope</string>
				<key>iconModDate</key>
				<date>1980-04-10T08:41:43Z</date>
				<key>bundleIdentifier</key>
				<string>com.chillingo.cuttherope</string>
				<key>displayIdentifier</key>
				<string>com.chillingo.cuttherope</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>DB Navigator</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:57:03Z</date>
				<key>bundleIdentifier</key>
				<string>com.deutschebahn.navigator</string>
				<key>displayIdentifier</key>
				<string>com.deutschebahn.navigator</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>DoodleJump</string>
				<key>iconModDate</key>
				<date>1980-03-30T16:32:30Z</date>
				<key>bundleIdentifier</key>
				<string>com.yourcompany.DoodleJump</string>
				<key>displayIdentifier</key>
				<string>com.yourcompany.DoodleJump</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Fahrplan</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:57:21Z</date>
				<key>bundleIdentifier</key>
				<string>de.vercruesse.Fahrplan</string>
				<key>displayIdentifier</key>
				<string>de.vercruesse.Fahrplan</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Filmstarts</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:57:24Z</date>
				<key>bundleIdentifier</key>
				<string>de.filmstarts.app</string>
				<key>displayIdentifier</key>
				<string>de.filmstarts.app</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Final Fantasy</string>
				<key>iconModDate</key>
				<date>1980-03-10T09:13:45Z</date>
				<key>bundleIdentifier</key>
				<string>com.square-enix.FinalFantasy</string>
				<key>displayIdentifier</key>
				<string>com.square-enix.FinalFantasy</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>displayName</key>
				<string>Flugsuche</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:57:31Z</date>
				<key>bundleIdentifier</key>
				<string>com.swoodoo.iSwoodoo</string>
				<key>displayIdentifier</key>
				<string>com.swoodoo.iSwoodoo</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>GBC A.D.X +</string>
				<key>iconModDate</key>
				<date>1980-02-14T13:44:30Z</date>
				<key>bundleIdentifier</key>
				<string>com.bslapps.gbcx</string>
				<key>displayIdentifier</key>
				<string>com.bslapps.gbcx</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Genius Scan</string>
				<key>iconModDate</key>
				<date>1980-02-23T06:31:36Z</date>
				<key>bundleIdentifier</key>
				<string>com.geniussoftware.GeniusScan</string>
				<key>displayIdentifier</key>
				<string>com.geniussoftware.GeniusScan</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>geoDefense</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:57:53Z</date>
				<key>bundleIdentifier</key>
				<string>com.criticalthoughtgames.geodefense</string>
				<key>displayIdentifier</key>
				<string>com.criticalthoughtgames.geodefense</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>github</string>
				<key>webClipURL</key>
				<string>/</string>
				<key>iconModDate</key>
				<date>1980-04-10T08:13:30Z</date>
				<key>displayIdentifier</key>
				<string>7CCFED276FF34E79AB1C3E1C105B3FF1</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Go</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:57:57Z</date>
				<key>bundleIdentifier</key>
				<string>nl.robota.gnugo</string>
				<key>displayIdentifier</key>
				<string>nl.robota.gnugo</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Gutscheine</string>
				<key>iconModDate</key>
				<date>1980-03-17T16:53:23Z</date>
				<key>bundleIdentifier</key>
				<string>de.gutscheinbuch.gutscheine</string>
				<key>displayIdentifier</key>
				<string>de.gutscheinbuch.gutscheine</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>hunchable</string>
				<key>iconModDate</key>
				<date>1980-03-26T19:55:52Z</date>
				<key>bundleIdentifier</key>
				<string>com.gjm.iveahunch</string>
				<key>displayIdentifier</key>
				<string>com.gjm.iveahunch</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>iBooks</string>
				<key>iconModDate</key>
				<date>1980-02-11T20:37:25Z</date>
				<key>bundleIdentifier</key>
				<string>com.apple.iBooks</string>
				<key>displayIdentifier</key>
				<string>com.apple.iBooks</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>iEno</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:58:13Z</date>
				<key>bundleIdentifier</key>
				<string>com.ihanwel.iEno</string>
				<key>displayIdentifier</key>
				<string>com.ihanwel.iEno</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>iFile</string>
				<key>iconModDate</key>
				<date>1980-04-11T08:33:36Z</date>
				<key>bundleIdentifier</key>
				<string>eu.heinelt.ifile</string>
				<key>displayIdentifier</key>
				<string>eu.heinelt.ifile</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>ifun | news</string>
				<key>iconModDate</key>
				<date>1980-02-14T09:14:24Z</date>
				<key>bundleIdentifier</key>
				<string>com.appirion.ifunnews</string>
				<key>displayIdentifier</key>
				<string>com.appirion.ifunnews</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Immonet</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:58:24Z</date>
				<key>bundleIdentifier</key>
				<string>de.immonet.iphone</string>
				<key>displayIdentifier</key>
				<string>de.immonet.iphone</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>ImmoScout</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:58:27Z</date>
				<key>bundleIdentifier</key>
				<string>de.immoscout.immoscout</string>
				<key>displayIdentifier</key>
				<string>de.immoscout.immoscout</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Installous</string>
				<key>iconModDate</key>
				<date>1980-04-11T08:33:19Z</date>
				<key>bundleIdentifier</key>
				<string>com.hackulo.us.installous</string>
				<key>displayIdentifier</key>
				<string>com.hackulo.us.installous</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>iOutBank Pro</string>
				<key>iconModDate</key>
				<date>1980-04-06T15:46:24Z</date>
				<key>bundleIdentifier</key>
				<string>de.stoegerit.iOutBank</string>
				<key>displayIdentifier</key>
				<string>de.stoegerit.iOutBank</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>displayName</key>
				<string>IRRTUM</string>
				<key>iconModDate</key>
				<date>1980-03-28T18:43:25Z</date>
				<key>bundleIdentifier</key>
				<string>de.funkylabs.alltagsmythen</string>
				<key>displayIdentifier</key>
				<string>de.funkylabs.alltagsmythen</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>kaufDA</string>
				<key>iconModDate</key>
				<date>1980-04-06T15:47:20Z</date>
				<key>bundleIdentifier</key>
				<string>de.kaufda.kaufda</string>
				<key>displayIdentifier</key>
				<string>de.kaufda.kaufda</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>LEO</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:58:42Z</date>
				<key>bundleIdentifier</key>
				<string>org.leo.org.leo.dict.01</string>
				<key>displayIdentifier</key>
				<string>org.leo.org.leo.dict.01</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Meebo</string>
				<key>iconModDate</key>
				<date>1980-04-03T06:27:44Z</date>
				<key>bundleIdentifier</key>
				<string>com.meebo.Meebo</string>
				<key>displayIdentifier</key>
				<string>com.meebo.Meebo</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>MeinProspekt</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:59:06Z</date>
				<key>bundleIdentifier</key>
				<string>de.meinprospekt.meinprospektHeroApp</string>
				<key>displayIdentifier</key>
				<string>de.meinprospekt.meinprospektHeroApp</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>MobileButler</string>
				<key>iconModDate</key>
				<date>1980-02-08T21:59:12Z</date>
				<key>bundleIdentifier</key>
				<string>de.holgerfrank.FastLogin</string>
				<key>displayIdentifier</key>
				<string>de.holgerfrank.FastLogin</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>MusicID</string>
				<key>iconModDate</key>
				<date>1980-03-26T17:12:02Z</date>
				<key>bundleIdentifier</key>
				<string>com.gravitymobile.MusicIDWorld</string>
				<key>displayIdentifier</key>
				<string>com.gravitymobile.MusicIDWorld</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>MyWi 4.0</string>
				<key>iconModDate</key>
				<date>1980-04-11T08:33:22Z</date>
				<key>bundleIdentifier</key>
				<string>com.mywi</string>
				<key>displayIdentifier</key>
				<string>com.mywi</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>n-tv</string>
				<key>iconModDate</key>
				<date>1980-03-06T11:18:47Z</date>
				<key>bundleIdentifier</key>
				<string>de.n-tv.n-tvmobil</string>
				<key>displayIdentifier</key>
				<string>de.n-tv.n-tvmobil</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>NAVIGON</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:01:18Z</date>
				<key>bundleIdentifier</key>
				<string>com.navigon.NavigonSelectTmoD</string>
				<key>displayIdentifier</key>
				<string>com.navigon.NavigonSelectTmoD</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>NetzFinder</string>
				<key>iconModDate</key>
				<date>1980-03-30T16:31:26Z</date>
				<key>bundleIdentifier</key>
				<string>com.livinghandy.netzfinder</string>
				<key>displayIdentifier</key>
				<string>com.livinghandy.netzfinder</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Nuclear Energy News</string>
				<key>webClipURL</key>
				<string>/newsandevents/information-on-the-japanese-earthquake-and-reactors-in-that-region</string>
				<key>iconModDate</key>
				<date>1980-03-18T18:58:21Z</date>
				<key>displayIdentifier</key>
				<string>C1C10AEAA80241688BD19D329AD6B458</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>NYTimes</string>
				<key>iconModDate</key>
				<date>1980-03-25T08:18:17Z</date>
				<key>bundleIdentifier</key>
				<string>com.nytimes.NYTimes</string>
				<key>displayIdentifier</key>
				<string>com.nytimes.NYTimes</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Opera Mini</string>
				<key>iconModDate</key>
				<date>1980-04-03T12:02:21Z</date>
				<key>bundleIdentifier</key>
				<string>com.opera.OperaMini</string>
				<key>displayIdentifier</key>
				<string>com.opera.OperaMini</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Orba</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:01:30Z</date>
				<key>bundleIdentifier</key>
				<string>com.kiefferbros.Orba</string>
				<key>displayIdentifier</key>
				<string>com.kiefferbros.Orba</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Parcel</string>
				<key>iconModDate</key>
				<date>1980-04-06T15:48:08Z</date>
				<key>bundleIdentifier</key>
				<string>com.mr-brightside.myParcel</string>
				<key>displayIdentifier</key>
				<string>com.mr-brightside.myParcel</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>displayName</key>
				<string>Pomodoro</string>
				<key>iconModDate</key>
				<date>1980-03-07T10:46:30Z</date>
				<key>bundleIdentifier</key>
				<string>com.navel-labs.tomatotimer</string>
				<key>displayIdentifier</key>
				<string>com.navel-labs.tomatotimer</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Post mobil</string>
				<key>iconModDate</key>
				<date>1980-03-22T08:08:58Z</date>
				<key>bundleIdentifier</key>
				<string>de.deutschepost.postmobil</string>
				<key>displayIdentifier</key>
				<string>de.deutschepost.postmobil</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>ProviderFind</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:01:36Z</date>
				<key>bundleIdentifier</key>
				<string>de.philipplanger.netzcheck</string>
				<key>displayIdentifier</key>
				<string>de.philipplanger.netzcheck</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Read It Later</string>
				<key>iconModDate</key>
				<date>1980-02-23T06:34:19Z</date>
				<key>bundleIdentifier</key>
				<string>com.ideashower.ReadItLaterPro</string>
				<key>displayIdentifier</key>
				<string>com.ideashower.ReadItLaterPro</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Red Alert</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:02:02Z</date>
				<key>bundleIdentifier</key>
				<string>com.ea.candcra.row</string>
				<key>displayIdentifier</key>
				<string>com.ea.candcra.row</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Reeder</string>
				<key>iconModDate</key>
				<date>1980-03-15T11:25:58Z</date>
				<key>bundleIdentifier</key>
				<string>ch.reeder</string>
				<key>displayIdentifier</key>
				<string>ch.reeder</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>RMV</string>
				<key>iconModDate</key>
				<date>1980-02-19T07:44:07Z</date>
				<key>bundleIdentifier</key>
				<string>com.cubic.cumo.iphone.rmv</string>
				<key>displayIdentifier</key>
				<string>com.cubic.cumo.iphone.rmv</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Shazam</string>
				<key>iconModDate</key>
				<date>1980-03-25T08:18:33Z</date>
				<key>bundleIdentifier</key>
				<string>com.shazam.Shazam</string>
				<key>displayIdentifier</key>
				<string>com.shazam.Shazam</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>SideReel</string>
				<key>iconModDate</key>
				<date>1980-02-15T08:41:59Z</date>
				<key>bundleIdentifier</key>
				<string>com.sidereel.SideReel</string>
				<key>displayIdentifier</key>
				<string>com.sidereel.SideReel</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>SixToEight</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:02:18Z</date>
				<key>bundleIdentifier</key>
				<string>net.archgrove.sixtoeight</string>
				<key>displayIdentifier</key>
				<string>net.archgrove.sixtoeight</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Skype</string>
				<key>iconModDate</key>
				<date>1980-02-09T17:01:43Z</date>
				<key>bundleIdentifier</key>
				<string>com.skype.skype</string>
				<key>displayIdentifier</key>
				<string>com.skype.skype</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Sleep Cycle</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:02:37Z</date>
				<key>bundleIdentifier</key>
				<string>com.lexwarelabs.goodmorning</string>
				<key>displayIdentifier</key>
				<string>com.lexwarelabs.goodmorning</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Smart Alarm</string>
				<key>iconModDate</key>
				<date>1980-04-07T13:54:33Z</date>
				<key>bundleIdentifier</key>
				<string>com.arawella.sleep-tracker</string>
				<key>displayIdentifier</key>
				<string>com.arawella.sleep-tracker</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>SmartGo Pro</string>
				<key>iconModDate</key>
				<date>1980-04-10T08:28:10Z</date>
				<key>bundleIdentifier</key>
				<string>5V872HH5UY</string>
				<key>displayIdentifier</key>
				<string>5V872HH5UY</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>SNES A.D.X +</string>
				<key>iconModDate</key>
				<date>1980-02-10T10:30:51Z</date>
				<key>bundleIdentifier</key>
				<string>com.bslapps.snesx</string>
				<key>displayIdentifier</key>
				<string>com.bslapps.snesx</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>SoM</string>
				<key>iconModDate</key>
				<date>1980-03-10T09:15:08Z</date>
				<key>bundleIdentifier</key>
				<string>com.square-enix.sk2</string>
				<key>displayIdentifier</key>
				<string>com.square-enix.sk2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>displayName</key>
				<string>SoundHound</string>
				<key>iconModDate</key>
				<date>1980-03-26T17:12:12Z</date>
				<key>bundleIdentifier</key>
				<string>com.melodis.soundhound.free</string>
				<key>displayIdentifier</key>
				<string>com.melodis.soundhound.free</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Steak Master</string>
				<key>iconModDate</key>
				<date>1980-04-10T08:30:52Z</date>
				<key>bundleIdentifier</key>
				<string>de.tipps-tricks-kniffe.steakmaker</string>
				<key>displayIdentifier</key>
				<string>de.tipps-tricks-kniffe.steakmaker</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>still waitin</string>
				<key>iconModDate</key>
				<date>1980-02-23T06:32:46Z</date>
				<key>bundleIdentifier</key>
				<string>de.devmob.stillwaitin</string>
				<key>displayIdentifier</key>
				<string>de.devmob.stillwaitin</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>TeamViewer</string>
				<key>iconModDate</key>
				<date>1980-04-07T10:13:48Z</date>
				<key>bundleIdentifier</key>
				<string>com.teamviewer.teamviewer</string>
				<key>displayIdentifier</key>
				<string>com.teamviewer.teamviewer</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Telefonbuch</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:02:52Z</date>
				<key>bundleIdentifier</key>
				<string>de.telefonbuch.Telefonbuch</string>
				<key>displayIdentifier</key>
				<string>de.telefonbuch.Telefonbuch</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>The Settlers</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:04:33Z</date>
				<key>bundleIdentifier</key>
				<string>com.gameloft.TheSettlers</string>
				<key>displayIdentifier</key>
				<string>com.gameloft.TheSettlers</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Tiny Wings</string>
				<key>iconModDate</key>
				<date>1980-04-06T20:42:03Z</date>
				<key>bundleIdentifier</key>
				<string>com.andreasilliger.tinywings</string>
				<key>displayIdentifier</key>
				<string>com.andreasilliger.tinywings</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Translate</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:20:47Z</date>
				<key>bundleIdentifier</key>
				<string>com.google.Translate</string>
				<key>displayIdentifier</key>
				<string>com.google.Translate</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>trivago</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:04:39Z</date>
				<key>bundleIdentifier</key>
				<string>com.trivago.iphone</string>
				<key>displayIdentifier</key>
				<string>com.trivago.iphone</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>TVSpielfilm</string>
				<key>iconModDate</key>
				<date>1980-04-12T08:47:18Z</date>
				<key>bundleIdentifier</key>
				<string>de.cellular.TVSpielfilm</string>
				<key>displayIdentifier</key>
				<string>de.cellular.TVSpielfilm</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Twitter</string>
				<key>iconModDate</key>
				<date>1980-03-31T06:52:19Z</date>
				<key>bundleIdentifier</key>
				<string>com.atebits.Tweetie2</string>
				<key>displayIdentifier</key>
				<string>com.atebits.Tweetie2</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Urban Ninja</string>
				<key>iconModDate</key>
				<date>1980-03-02T19:24:17Z</date>
				<key>bundleIdentifier</key>
				<string>com.donutgames.urbanninja</string>
				<key>displayIdentifier</key>
				<string>com.donutgames.urbanninja</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Virtua Fighter</string>
				<key>iconModDate</key>
				<date>1980-02-12T18:16:16Z</date>
				<key>bundleIdentifier</key>
				<string>com.sega.virtuafighter2</string>
				<key>displayIdentifier</key>
				<string>com.sega.virtuafighter2</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>wetter.info</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:04:49Z</date>
				<key>bundleIdentifier</key>
				<string>de.telekom.NiederschlagsRadar</string>
				<key>displayIdentifier</key>
				<string>de.telekom.NiederschlagsRadar</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>WhatTheFont</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:04:52Z</date>
				<key>bundleIdentifier</key>
				<string>com.myfonts.WhatTheFont</string>
				<key>displayIdentifier</key>
				<string>com.myfonts.WhatTheFont</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Wunderlist</string>
				<key>iconModDate</key>
				<date>1980-03-25T08:18:52Z</date>
				<key>bundleIdentifier</key>
				<string>com.6wunderkinder.wunderlistmobile</string>
				<key>displayIdentifier</key>
				<string>com.6wunderkinder.wunderlistmobile</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>displayName</key>
				<string>1Password</string>
				<key>iconModDate</key>
				<date>1980-04-03T06:29:42Z</date>
				<key>bundleIdentifier</key>
				<string>ws.agile.1PasswordPro</string>
				<key>displayIdentifier</key>
				<string>ws.agile.1PasswordPro</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>AKW Finder</string>
				<key>iconModDate</key>
				<date>1980-04-03T06:25:47Z</date>
				<key>bundleIdentifier</key>
				<string>de.mflux.AKWFinder1</string>
				<key>displayIdentifier</key>
				<string>de.mflux.AKWFinder1</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>everyAir</string>
				<key>iconModDate</key>
				<date>1980-04-09T11:52:23Z</date>
				<key>bundleIdentifier</key>
				<string>com.pandaelf.iwarp</string>
				<key>displayIdentifier</key>
				<string>com.pandaelf.iwarp</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>iHandy Level</string>
				<key>iconModDate</key>
				<date>1980-02-19T08:59:36Z</date>
				<key>bundleIdentifier</key>
				<string>com.ihandysoft.carpenter.level</string>
				<key>displayIdentifier</key>
				<string>com.ihandysoft.carpenter.level</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>speedClock</string>
				<key>iconModDate</key>
				<date>1980-03-06T19:45:55Z</date>
				<key>bundleIdentifier</key>
				<string>speedClock</string>
				<key>displayIdentifier</key>
				<string>speedClock</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>SpiderOak</string>
				<key>iconModDate</key>
				<date>1980-04-06T15:46:44Z</date>
				<key>bundleIdentifier</key>
				<string>com.spideroak.SpiderOak</string>
				<key>displayIdentifier</key>
				<string>com.spideroak.SpiderOak</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Thermometer</string>
				<key>iconModDate</key>
				<date>1980-02-08T22:02:55Z</date>
				<key>bundleIdentifier</key>
				<string>com.giudicelli.digitalthermometerfree</string>
				<key>displayIdentifier</key>
				<string>com.giudicelli.digitalthermometerfree</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Umweltdaten</string>
				<key>iconModDate</key>
				<date>1980-03-31T04:19:15Z</date>
				<key>bundleIdentifier</key>
				<string>de.schosoft.Umweltdaten</string>
				<key>displayIdentifier</key>
				<string>de.schosoft.Umweltdaten</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>StumbleUpon</string>
				<key>iconModDate</key>
				<date>1980-04-11T08:58:27Z</date>
				<key>bundleIdentifier</key>
				<string>stumbleupon</string>
				<key>displayIdentifier</key>
				<string>stumbleupon</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>TUCaN</string>
				<key>webClipURL</key>
				<string>/scripts/mgrqcgi</string>
				<key>iconModDate</key>
				<date>1980-04-12T08:29:26Z</date>
				<key>displayIdentifier</key>
				<string>9585EF3E92904ACFAA73A718735E5CA1</string>
			</dict>
		</array>
	</array>
</plist>
