<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>displayName</key>
		<string>BitBucket</string>
		<key>webClipURL</key>
		<string>/</string>
		<key>iconModDate</key>
		<date>1980-03-18T14:40:08Z</date>
		<key>displayIdentifier</key>
		<string>7687204625474EA39368D6184E14ACEE</string>
	</dict>
</plist>
